<!DOCTYPE html>
<html>
<head>
  <title>RT Collection</title>
</head>
<body>
<center>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div class="jumbotron">
	<h1>RT ColleRction</h1>
	<p>TwitterのRTを集めて、表示するアプリです!</p>
	<p><%= link_to "Sign up!", "contents/check",class:"btn btn-primary btn-lg"%></p>
      </div>
    </div>
  </div>
</div>
</center>

