<!DOCTYPE html>
<html>
<head>
  <title>RT Collection</title>
</head>
<body>
<<<<<<< HEAD
<center>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div class="jumbotron">
	<h1>RT ColleRction</h1>
	<p>TwitterのRTを集めて、表示するアプリです!</p>
	<p><%= link_to "Sign up!", "auth/twitter",class:"btn btn-primary btn-lg"%></p>
      </div>
    </div>
  </div>
</div>
</center>
=======
ようこそ<%= render :text => @user %>。
<%= link_to "Twitterでログインする", "contents/check" %>
>>>>>>> e77fa3d4023f2db7095b29dd726fa8d9da1c49e4
</body>
</html>

