<html>
<head>
  <title>RT Collection</title>
  <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="navbar navbar-default">

  <!--固定メニュー-->
  <div class="navbar-header">
    
    <!--レスポンシブデザイン使用時の線 -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!--タイトル -->
    <a class="navbar-brand">RT Collection</a>
    
  </div>
  
  <!-- レスポンシブデザイン使用するメニュー-->
  <div style="height: 1px;" class="navbar-collapse navbar-responsive-collapse collapse">

    <!-- ログインユーザ表示 -->
    <p class="navbar-text"><%=image_tag(session[:user_image],:size => "25x25")%> <%= session[:account_name]%></p>

    <!--右側 -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">Home</a></li>
      <li><a href="/sessions/destroy">Logout</a></li>
    </ul>

  </div>
</div>



<!--メインエリア -->
<div class="container-fluid">
  <div class="row_fluid">

    <!-- サイドバー-->
    <div class="col-md-2 col-lg-2 col-sm-2" >
      <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
	<li><a href="/contents/rtline">RT  <span class="badge"><%=@badge%></span></a></li>
	<li class="active"><a href="#">RT ranking</a></li>
      </ul>
    </div>

    <!--メイン-->
    <div class="col-md-8 col-lg-8 col-sm-8" >
      <% @rank.each do | ranks | %>
     <h2></h2>     
     <% end %>
    </div>
    
  </div>
</div>







</body>
</html>

